# principal
DISCORD_TOKEN=''
PUBLIC_GUILD_ID=''
COMMAND_PREFIX=''
IMGBB_API_KEY=''

# logs de entrada e saida de membros
ENTRADA_CHANNEL_ID=''
SAIDA_CHANNEL_ID=''

# logs de punições
PUNICOES_CHANNEL_ID=''

# tickets
MENU_TICKETS_CHANNEL_ID=''

# cargos
ADMINISTRADOR_CARGO_ID=''
MEMBRO_CARGO_ID=''
VISITANTE_CARGO_ID=''

# canais
REGRAS_CHANNEL_ID=''
EDITAR_SALAS_CHANNEL_ID=''
CRIAR_SALA_CHANNEL_ID=''
IMAGEM_PARA_URL_CHANNEL_ID=''
BOOSTER_CHANNEL_ID=''
MIDIAS_CHANNEL_ID=''
FORMULARIO_REGISTRAR_DESENVOLVEDOR_CHANNEL_ID=''
FORMULARIO_PENDENTE_DESENVOLVEDOR_CHANNEL_ID=''
FORMULARIO_APROVADO_DESENVOLVEDOR_CHANNEL_ID=''
FORMULARIO_REJEITADO_DESENVOLVEDOR_CHANNEL_ID=''

# categorias
GRUPOS_CRIADOS_CATEGORY_ID=''
